.WindowComponent {
    background-color: #00000033;
    width: 80rem;
    box-shadow: black 0px 0px 4px 1px;

    &_title{
        color: white;
        background-color: #00000033;
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: 500;
        border-bottom: 1px solid black;
    }

    &_contents{
        padding: 1rem;
    }
}